# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ReSharper / Rider
.idea/
*.DotSettings.user

# NuGet
packages/
*.nupkg

# Windows
Thumbs.db
Desktop.ini
